/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%; }

p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: .02em; }

.btn {
  width: 45%;
  float: left;
  display: block; }
  .btn.right {
    float: right; }
  .btn a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 5px solid #fff;
    color: #fff;
    display: block;
    font-family: 'Muli', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px; }
    .btn a:hover {
      background: #fff; }

nav {
  background: #ddd;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none; }
  nav .container {
    max-width: 1000px;
    padding: 0px 50px;
    margin: 0px auto 0px auto; }
    nav .container .logo {
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      color: #fff; }

body {
  background: #3888de; }

.intro {
  background: #3888de;
  width: 100%;
  min-height: 600px;
  position: fixed;
  z-index: 1;
  top: 0px; }
  .intro .introContainer {
    max-width: 1000px;
    padding: 0px 50px;
    margin: 75px auto 0px auto; }
    .intro .introContainer h1.name {
      color: #fff;
      line-height: 135px;
      font-family: 'Montserrat', sans-serif;
      font-size: 115px; }

.work {
  background: #9ab8a6;
  min-height: 1000px;
  margin-top: 1000px;
  position: relative;
  width: 100%;
  z-index: 5; }
  .work article.workPiece {
    overflow: hidden;
    padding-bottom: 300px;
    width: 100%; }
    .work article.workPiece .workContainer {
      padding: 0px 50px;
      max-width: 1100px;
      margin: 0 auto; }
    .work article.workPiece .titleInfo {
      padding: 30px 0px 0px 0px;
      position: relative; }
      .work article.workPiece .titleInfo h1 {
        font-family: 'Muli', sans-serif;
        font-size: 36px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 0px 8px 0px; }
    .work article.workPiece .description {
      float: right;
      width: 30%; }
    .work article.workPiece .images {
      float: left;
      width: 67%; }
      .work article.workPiece .images img {
        width: 97%;
        border: 8px solid #fff;
        -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ; }
