@-webkit-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@-moz-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@-o-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

.stickem-container {
  position: relative; }

.stickit {
  position: fixed !important;
  top: 0; }

.stickit-end {
  bottom: 400px;
  position: absolute;
  right: 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%; }

body {
  background: #3888de; }

p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: .02em; }

span.strong {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none; }
  a:hover {
    background: #fff; }

.btn {
  width: 45%;
  float: left;
  display: block; }
  @media screen and (max-width: 990px) {
    .btn {
      float: none;
      width: 100%;
      margin-bottom: 10px; } }
  .btn.right {
    float: right; }
  .btn a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 5px solid #fff;
    color: #fff;
    display: block;
    font-family: 'Muli', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px; }
    .btn a:hover {
      background: #fff; }

nav {
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none; }
  nav .container {
    max-width: 1000px;
    padding: 0px 50px;
    margin: 0px auto 0px auto; }
    nav .container .logo {
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      padding-top: 11px; }
      nav .container .logo a {
        text-decoration: none;
        transition: color .25s;
        -webkit-transition: color .25s;
        border: 0px; }
        nav .container .logo a span {
          font-size: 0px;
          transition: font-size .25s;
          -webkit-transition: font-size .25s; }
        nav .container .logo a:hover {
          background: none; }
          nav .container .logo a:hover span {
            font-size: 24px; }

.intro {
  width: 100%;
  min-height: 690px;
  position: relative; }
  @media screen and (max-width: 800px) {
    .intro {
      min-height: 700px; } }
  .intro .introContainer {
    max-width: 1100px;
    padding: 100px 50px 0px 50px;
    margin: 0 auto 0 auto; }
    @media screen and (max-width: 800px) {
      .intro .introContainer {
        padding: 100px 20px 0px 20px; } }
    .intro .introContainer h1.name {
      color: #fff;
      line-height: 135px;
      font-family: 'Montserrat', sans-serif;
      font-size: 105px; }
      @media screen and (max-width: 925px) {
        .intro .introContainer h1.name {
          font-size: 75px;
          line-height: 95px; } }
      @media screen and (max-width: 660px) {
        .intro .introContainer h1.name {
          font-size: 65px;
          line-height: 75px; } }
      @media screen and (max-width: 590px) {
        .intro .introContainer h1.name {
          font-size: 50px;
          line-height: 65px; } }
      @media screen and (max-width: 475px) {
        .intro .introContainer h1.name {
          font-size: 36px;
          line-height: 46px; } }
    .intro .introContainer p {
      width: 825px;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 15px; }
      @media screen and (max-width: 925px) {
        .intro .introContainer p {
          width: 100%; } }
  .intro div.startArrow {
    height: 17px;
    width: 32px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background-image: url(../images/arrow-down.png);
    background-repeat: none;
    background-image: url(../images/arrow-down.svg), none;
    background-size: 100% auto; }

.work {
  min-height: 1000px;
  position: relative;
  width: 100%;
  z-index: 5; }
  .work article.workPiece {
    overflow: hidden;
    margin-bottom: 300px;
    width: 100%; }
    .work article.workPiece .workContainer {
      padding: 0px 50px;
      max-width: 1100px;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .workContainer {
          padding: 0px 20px; } }
    .work article.workPiece .titleInfo {
      width: 100%;
      position: absolute;
      z-index: 100;
      height: 75px;
           /* &.stickit{
                left: 50px;
                right: 50px;

                position: fixed !important;
                top: 0;
            }*/ }
      .work article.workPiece .titleInfo .fixieContainer {
        padding: 30px 50px 0px 50px;
        max-width: 1100px;
        position: relative;
        margin: 0 auto; }
      .work article.workPiece .titleInfo h1 {
        font-family: 'Muli', sans-serif;
        font-size: 36px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 0px 8px 0px; }
      .work article.workPiece .titleInfo div.arrows {
        position: absolute;
        right: 50px;
        top: 40px; }
        .work article.workPiece .titleInfo div.arrows div.upArrow, .work article.workPiece .titleInfo div.arrows div.downArrow {
          width: 32px;
          height: 17px;
          display: inline-block;
          cursor: pointer; }
        .work article.workPiece .titleInfo div.arrows div.upArrow {
          margin-right: 10px;
          background-image: url(../images/arrow-up.png);
          background-repeat: none;
          background-image: url(../images/arrow-up.svg), none;
          background-size: 100% auto; }
        .work article.workPiece .titleInfo div.arrows div.downArrow {
          background-image: url(../images/arrow-down.png);
          background-repeat: none;
          background-image: url(../images/arrow-down.svg), none;
          background-size: 100% auto; }
    .work article.workPiece .quickFacts {
      margin: 100px 0px 15px 0px; }
      .work article.workPiece .quickFacts p {
        font-size: 16px;
        margin-bottom: 5px; }
    .work article.workPiece .description {
      width: 100%;
      max-width: 1100px; }
      .work article.workPiece .description.stickit {
        margin-top: 168px; }
      .work article.workPiece .description .fixieContainer {
        padding: 30px 0px 0px 50px;
        max-width: 1100px;
        position: relative;
        margin: 0 auto; }
        .work article.workPiece .description .fixieContainer .mainDescription {
          float: right;
          width: 30%;
          max-width: 330px; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .description {
          float: none;
          width: 100%; } }
      .work article.workPiece .description p {
        margin-bottom: 15px; }
        .work article.workPiece .description p.desTitle {
          margin-bottom: 5px; }
    .work article.workPiece .images {
      float: left;
      width: 67%; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .images {
          float: none;
          width: 100%; } }
      .work article.workPiece .images img {
        width: 97%;
        margin-bottom: 25px;
        border: 8px solid #fff;
        -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ; }
    .work article.workPiece .description, .work article.workPiece .images {
      margin-top: 0px; }

footer {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.25); }
  footer div.footerContainer {
    padding: 0px 50px;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden; }
    @media screen and (max-width: 800px) {
      footer div.footerContainer {
        padding: 0px 20px; } }

nav.spotlight {
  background: none;
  height: 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
  overflow: hidden; }
  nav.spotlight .logo {
    float: left; }
  nav.spotlight .container {
    max-width: 900px;
    padding: 0px 50px;
    margin: 0px auto 0px auto; }
    nav.spotlight .container .logo {
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      color: #fff; }
  nav.spotlight a.back {
    float: right;
    border: 0px;
    font-family: 'Muli', sans-serif;
    margin-top: 18px;
    border: 0px; }
    nav.spotlight a.back:hover {
      opacity: .85;
      background: none; }

.caseStudy {
  max-width: 800px;
  color: #555;
  margin: 0px auto 50px auto;
  padding: 30px 50px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
  -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ; }
  .caseStudy .container {
    max-width: 700px;
    margin: 0 auto; }
  .caseStudy h1, .caseStudy h2 {
    font-family: 'Muli', sans-serif; }
  .caseStudy h1 {
    border-bottom: 1px solid #eee;
    padding: 0px 0px 8px 0px;
    font-size: 36px; }
  .caseStudy h2 {
    font-size: 24px;
    margin-top: 70px; }
  .caseStudy p {
    color: #555;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px; }
    .caseStudy p.subTitle {
      margin-bottom: 0px;
      font-size: 16px; }
      .caseStudy p.subTitle span {
        color: #555;
        font-size: 15px; }
  .caseStudy .details {
    overflow: hidden;
    position: relative; }
  .caseStudy .sub {
    float: left; }
  .caseStudy .btn {
    width: 125px;
    float: right;
    margin-top: 13px;
    display: block; }
    .caseStudy .btn a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #555;
      display: block;
      font-family: 'Muli', sans-serif;
      text-align: center;
      text-decoration: none;
      padding: 10px 5px; }
      .caseStudy .btn a.hands {
        border: 5px solid #98baa3;
        color: #98baa3; }
        .caseStudy .btn a.hands:hover {
          background: #98baa3;
          color: #fff; }
      .caseStudy .btn a.oums {
        border: 5px solid #65c4e5;
        color: #65c4e5; }
        .caseStudy .btn a.oums:hover {
          background: #65c4e5;
          color: #fff; }
  .caseStudy .imageHolder {
    width: 100%; }
    .caseStudy .imageHolder img {
      width: 100%;
      margin: 20px 0px 0px 0px;
      border: 1px solid #eee; }
    .caseStudy .imageHolder .subtitle {
      background: #eee;
      border: 1px solid #eee;
      width: 100%;
      margin: -3px auto 20px auto; }
      .caseStudy .imageHolder .subtitle p {
        padding: 8px 10px;
        font-size: 16px;
        margin: 0;
        line-height: 24px; }
    .caseStudy .imageHolder.subtitleLess {
      margin-bottom: 20px; }
