@-webkit-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@-moz-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@-o-keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

@keyframes floating {
  0% {
    bottom: 20px; }

  50% {
    bottom: 35px; }

  100% {
    bottom: 20px; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%; }

body {
  background: #3888de; }

p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: .02em; }

span.strong {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none; }
  a:hover {
    background: #fff; }

.btn {
  width: 45%;
  float: left;
  display: block; }
  @media screen and (max-width: 920px) {
    .btn {
      float: none;
      width: 100%;
      margin-bottom: 10px; } }
  .btn.right {
    float: right; }
  .btn a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 5px solid #fff;
    color: #fff;
    display: block;
    font-family: 'Muli', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px; }
    .btn a:hover {
      background: #fff; }

nav {
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none; }
  nav .container {
    max-width: 1000px;
    padding: 0px 50px;
    margin: 0px auto 0px auto; }
    nav .container .logo {
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      color: #fff; }

.intro {
  width: 100%;
  min-height: 900px;
  position: relative; }
  @media screen and (max-width: 800px) {
    .intro {
      min-height: 700px; } }
  .intro .introContainer {
    max-width: 1100px;
    padding: 150px 50px 0px 50px;
    margin: 0 auto 0 auto; }
    @media screen and (max-width: 800px) {
      .intro .introContainer {
        padding: 100px 20px 0px 20px; } }
    .intro .introContainer h1.name {
      color: #fff;
      line-height: 135px;
      font-family: 'Montserrat', sans-serif;
      font-size: 105px; }
      @media screen and (max-width: 925px) {
        .intro .introContainer h1.name {
          font-size: 75px;
          line-height: 95px; } }
      @media screen and (max-width: 660px) {
        .intro .introContainer h1.name {
          font-size: 65px;
          line-height: 75px; } }
      @media screen and (max-width: 590px) {
        .intro .introContainer h1.name {
          font-size: 50px;
          line-height: 65px; } }
      @media screen and (max-width: 475px) {
        .intro .introContainer h1.name {
          font-size: 36px;
          line-height: 46px; } }
    .intro .introContainer p {
      width: 825px;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 15px; }
      @media screen and (max-width: 925px) {
        .intro .introContainer p {
          width: 100%; } }
  .intro div.startArrow {
    height: 17px;
    width: 32px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background-image: url(../images/arrow-down.png);
    background-repeat: none;
    background-image: url(../images/arrow-down.svg), none;
    background-size: 100% auto; }

.work {
  min-height: 1000px;
  position: relative;
  width: 100%;
  z-index: 5; }
  .work article.workPiece {
    overflow: hidden;
    padding-bottom: 300px;
    width: 100%; }
    .work article.workPiece .workContainer {
      padding: 0px 50px;
      max-width: 1100px;
      margin: 0 auto;
      overflow: hidden; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .workContainer {
          padding: 0px 20px; } }
    .work article.workPiece .titleInfo {
      padding: 30px 0px 0px 0px;
      position: relative; }
      .work article.workPiece .titleInfo h1 {
        font-family: 'Muli', sans-serif;
        font-size: 36px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 0px 8px 0px; }
      .work article.workPiece .titleInfo .quickFacts {
        margin: 10px 0px 15px 0px; }
        .work article.workPiece .titleInfo .quickFacts p {
          font-size: 16px;
          margin-bottom: 5px; }
    .work article.workPiece .description {
      float: right;
      width: 30%; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .description {
          float: none;
          width: 100%; } }
      .work article.workPiece .description p {
        margin-bottom: 15px; }
        .work article.workPiece .description p.desTitle {
          margin-bottom: 5px; }
    .work article.workPiece .images {
      float: left;
      width: 67%; }
      @media screen and (max-width: 800px) {
        .work article.workPiece .images {
          float: none;
          width: 100%; } }
      .work article.workPiece .images img {
        width: 97%;
        border: 8px solid #fff;
        -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15) ; }

footer {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.25); }
